*, head, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

header {
    background-color: #1A2238;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.logo {
    margin-right: auto;
    display: flex;
    gap: 6px;
    margin-left: 9px;
}

nav ul {
    display: flex;
    padding: 10px;
}

li {
    list-style-type: none;
    padding: 10px;
}

li a:hover {
    color: #FF6A3D;
    transition: all .5s ease 0s;
}

li:hover {
    transform: rotate(-2deg);
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    margin-right: 10px;
    border: none;
    padding: 6px 14px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #FF6A3D;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(146, 27, 27);
    transition: all .3s ease 0s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0 120px 0;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 0px;
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: bold;
}

.description {
    font-size: 20px;
}

.img-foto {
    width: 100%;
    height: auto;
    padding: 10px;
    max-width: 1150px;
}

.parallax {
    background-image: url('assets/foto/transparanIMG.JPG');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}

#tentang {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1A2238;
    color: white;
    padding: 20px;
}

.btn-p {
    margin-right: 10px;
    border: none;
    padding: 10px 14px;
    font-size: larger;
    font-weight: 600;
    border-radius: 8px;
    background-color: #FF6A3D;
    cursor: pointer;
}

.btn-p:hover {
    background-color: rgb(146, 27, 27);
    transition: all .3s ease-in-out 0s;
}

.mt-10 {
    margin-top: 23px;
}

.card {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;
    gap: 10px;
}

.card-item {
    text-align: center;
    width: 25%;
    min-height: 200px;
    max-height: 300px;
    padding: 24px;
    background: #f7f7f7;
    color: #222;
    padding: 24px;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, .5);
}

.icon {
    width: 75px;
    height: 75px;
    margin: 10px;
    padding: 4px;
}

.card-title {
    font-size: 20px;
    font-weight: bolder;
}

.card-description {
    font-size: 14px;
    margin-top: 4px;
}

footer {
    bottom: 0;
    /* width: 100%; */
    position: fixed;
    padding: 16px;
    text-align: center;
    background-color: #1A2238;
    color: #eaeaea;
}

.footer {
    font-size: 18px;
}

@media screen and (max-width: 500px) {
    .card {
        flex-direction: column;
        gap: 0;
    }

    .card-item {
        width: 100%;
        opacity: .9;
    }
/* 
    .container {
        width: 100%;
        padding: 0;
    }

    .intro {
        margin-top: 20px;
    }

    .img-foto {
        padding: 0;
    }

    nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #1A2238;
    }

    footer {
        margin-bottom: 70px 0;
    } */
}