<%- include('./layouts/header') %>
<%- include('./layouts/nav') %>

<div class="container">
    <div class="row">
        <div class="col" style="text-align: center;">
            <img style="width: 200px" src="../img/FotoBgMerah.jpg" alt="Foto Urvan Gibran">
            <h1 class="display-4">Urvan Gibran</h1>
            <p class="lead">Learner | Lover</p>
        </div>
    </div>
</div>

<%- include('./layouts/footer') %>