<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *,
        body {
            margin: 0;
        }

        h1 {
            font-weight: bolder;
            font-size: 150px;
            text-align: center;
            margin-top: 180px;
            justify-content: center;
            color: rgb(165, 161, 161);
            font-style: oblique;
        }
        
        p {
            font-weight: bolder;
            align-items: center;
            margin-top: 0;
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 30px;
            color: rgb(165, 161, 161);
            font-style: oblique;
        }
    </style>
    <title>No</title>
</head>

<body>
    <h1>Not Found 404</h1>
    <p>Halaman yang kamu cari tidak ada</p>
</body>

</html>